In [53]:
# 환경 설정 코드
import matplotlib as mpl
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
mpl.rcParams['font.family'] = 'NanumGothic'
df = pd.read_csv('hotel_bookings.csv')

In [54]:
# 맨 위 5개 관측 데이터
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [56]:
# 맨 아래 5개 관측 데이터
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [57]:
# 데이터의 전체 정보(총 119390 레코드가 있음을 확인 가능)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None

In [58]:
# 수치형 데이터 확인(count: 합계, mean: 평균치, std: 표준편차, min: 최소값, max: 최대값)
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [59]:
# 범주형 데이터 확인(count: 합계, unique: 한 컬럼 내 범주의 개수, top: 최빈값, freq: 최빈값의 개수)
df.describe(include = 'object')

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
count,119390,119390,119390,118902,119390,119390,119390,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,10,12,3,4,3,926
top,City Hotel,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-10-21
freq,79330,13877,92310,48590,56477,97870,85994,74053,104641,89613,75166,1461

In [60]:
# hotel 컬럼의 각 범주별 개수 계산
hotel_counts = df['hotel'].value_counts()

print("=== 호텔 유형별 예약 개수 ===")
for hotel_type, count in hotel_counts.items():
    print(f"{hotel_type}: {count}건")

=== 호텔 유형별 예약 개수 ===
City Hotel: 79330건
Resort Hotel: 40060건

In [61]:
# is_canceled(호텔 예약 취소 여부) 컬럼의 범주 개수 계산
is_canceled_counts = df['is_canceled'].value_counts()

print("=== 예약 상태별 개수 ===")
print(f"호텔 예약 유지: {is_canceled_counts.get(0, 0)}")
print(f"호텔 예약 취소: {is_canceled_counts.get(1, 0)}")

=== 예약 상태별 개수 ===
호텔 예약 유지: 75166
호텔 예약 취소: 44224

In [62]:
# 각 컬럼별 결측치 합계 계산
missing_values = df.isnull().sum()

print("=== 컬럼별 결측치 합계 ===")
for column, missing in missing_values.items():
    if missing > 0:
        print(f"{column}: {missing}건")

=== 컬럼별 결측치 합계 ===
children: 4건
country: 488건
agent: 16340건
company: 112593건

In [63]:
# 각 컬럼별 결측치 비율 계산
missing_ratios = df.isnull().mean() * 100

print("=== 컬럼별 결측치 비율 (%) ===")
for column, ratio in missing_ratios.items():
    if ratio > 0:
        print(f"{column}: {ratio:.4f}%")

=== 컬럼별 결측치 비율 (%) ===
children: 0.0034%
country: 0.4087%
agent: 13.6862%
company: 94.3069%

In [64]:
# children 결측치 처리 - 1
df['children'].value_counts()

children
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: count, dtype: int64

In [65]:
# children 결측치 처리 - 2
# children의 결측치의 합계가 4개이므로 크게 의미 없을 것이라고 판단, 해당 결측치를 결측치 값 중 압도적으로 많은 0으로 치환함
df['children'] = df['children'].fillna(0)

In [66]:
# country 결측치 처리 - 1
df['country'].value_counts()

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: count, Length: 177, dtype: int64

In [67]:
# country 결측치 처리 - 2
# country는 결측치가 많지 않기 때문에 어떤 국가에도 명확히 속하지 않는 것으로 간주하고 "Unknown"로 치환
df['country'] = df['country'].fillna('Unknown')

In [68]:
# agent 결측치 처리 - 1
df['agent'].value_counts()

agent
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
289.0        1
432.0        1
265.0        1
93.0         1
304.0        1
Name: count, Length: 333, dtype: int64

In [69]:
# agent 결측치 처리 - 2
agent_9_count = df['agent'].value_counts().get(9.0, 0)
total_agent_count = df['agent'].notnull().sum()
percentage_9 = (agent_9_count / total_agent_count) * 100
print(f"agent에서 9.0이 차지하는 비율: {percentage_9:.2f}%")

agent_240_count = df['agent'].value_counts().get(240.0, 0)
total_agent_count = df['agent'].notnull().sum()
percentage_240 = (agent_240_count / total_agent_count) * 100
print(f"agent에서 240.0이 차지하는 비율: {percentage_240:.2f}%")

agent에서 9.0이 차지하는 비율: 31.02%
agent에서 240.0이 차지하는 비율: 13.51%

In [70]:
# agent 결측치 처리 - 3
# agent 컬럼의 범주를 이름 순으로 정렬
sorted_agent_counts = df['agent'].value_counts().sort_index()
print(sorted_agent_counts)

agent
1.0      7191
2.0       162
3.0      1336
4.0        47
5.0       330
         ...
510.0       2
526.0      10
527.0      35
531.0      68
535.0       3
Name: count, Length: 333, dtype: int64

In [71]:
# agent 결측치 처리 - 4
# agent의 결측값 비율 13.6%는 상당히 크며 최빈값 9.0이 agent 데이터 중 압도적으로 많은 값은 아니라고 판단,
# 결측값을 Unknown으로 치환
df['agent'] = df['agent'].fillna('Unknown')

In [72]:
# company 결측치 처리 - 1
df['company'].value_counts()

company
40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
104.0      1
531.0      1
160.0      1
413.0      1
386.0      1
Name: count, Length: 352, dtype: int64

In [73]:
# company 결측치 처리 - 2
# 결측치의 비율이 너무 높아 company 컬럼 존재 자체가 크게 의미 없을 것이라 판단, 컬럼을 삭제함
df = df.drop('company', axis = 1)

In [74]:
# 결측치 처리 후 각 컬럼별 결측치 합계 계산
missing_values = df.isnull().sum()

print("=== 컬럼별 결측치 합계 ===")
any_missing = False

for column, missing in missing_values.items():
    if missing > 0:
        print(f"{column}: {missing}건")
        any_missing = True

if not any_missing:
    print("모든 컬럼에 결측치가 없습니다.")

=== 컬럼별 결측치 합계 ===
모든 컬럼에 결측치가 없습니다.